.card { 
  padding: 16px 16px;
  margin: 24px 24px;
  border-radius: 8px;
  background-color: aliceblue;
}

.head-shot {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.card-content p {
  margin-bottom: -8px;
}

.card-content p span {
  font-weight: 600;
}


.head-shot-driver {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.credit-card {
  color: white;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 16px;
  margin: 24px;
  border-radius: 6px;
}

.credit-card h2 {
  text-align: right;
  margin-bottom: -10px;
}

.horizontal-info {
  display: flex;
  flex-direction: row;
  margin: -20px 0;
}
