.card {
  display: flex;
  flex-direction: row;
}

.head-shot {
  object-fit:fill;
  height: 0%;
  width: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content p {
  margin-bottom: -8px;
}

.card-content p span {
  font-weight: 600;
}

.credit-card {
  color: white;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 16px;
  margin: 24px;
  border-radius: 6px;
}

.credit-card h2 {
  text-align: right;
  margin-bottom: -10px;
}

.horizontal-info {
  display: flex;
  flex-direction: row;
  margin: -20px 0;
}